<form class="example-form">
  <div class="centralize">
    <img class="logo" src="https://image.ibb.co/ft4j0z/Republic_Manager_copy.png" alt="Republic Manager">


<h1>Novo Usuario</h1>
    <mat-form-field>
      <input [(ngModel)]="usuario.nome" name="nome" type="text" matInput placeholder="Seu nome" value="" required>
      <mat-error>Nome é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="usuario.login" name="usuario" type="text" matInput placeholder="Usuario" value="" required>
      <mat-error>Usuario é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="usuario.senha" name="senha" matInput placeholder="Senha" type="password" required>
      <mat-error>Senha é obrigatório</mat-error>
    </mat-form-field>

  </div>
  <div class="centralize">
    <button mat-flat-button (click)="NewUser()">Novo Usuário</button>
    <button mat-flat-button (click)="Login()">Login</button>
    <p>Já possui usuário? faça o login aqui</p>
  </div>
</form>
