<header>
  <mat-toolbar color="primary">
    <a class="navbar-brand"> E-Commerce </a>
    <a class="navbar-brand" [routerLink]="['/login']" routerLinkActive="router-link-active">
      Login</a>
    <a class="navbar-brand" [routerLink]="['/shoppingCart']" routerLinkActive="router-link-active">
      Shopping Cart</a>
    <button mat-button [matMenuTriggerFor]="menu">{{currentUser}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="getRepublicas()">Republica</button>
      <button mat-menu-item>Manage Orders</button>
      <button (click)="getUsers()" mat-menu-item>get users</button>
      <button (click)="logOut()" mat-menu-item>Log Out</button>
    </mat-menu>
  </mat-toolbar>
</header>

<section class="container">
  <div class="flex-container">
      <mat-card class="col-md-6 example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class=" col-md-6 example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy; Jhonatan 2018.</span>
  </div>
</footer>
