<mat-table [dataSource]="usuarios" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="senha">
      <mat-header-cell *matHeaderCellDef> Senha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.senha}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="isAtivo">
      <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isAtivo}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>