/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.mat-flat-button[disabled][disabled]{
    background-color: #7685da;
    color: black;
}
.centralize {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
.menu{
    padding: 5%;
}
body {
    padding-top: 80px; 
 }
 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }